/* Generic Container Configurations */

* {
    border-radius: 5px;
}

/* Generic Container Configurations */
******************
/* Container */

Container{
    width: 100%;
    padding-right: $padding-right;
    padding-left: $padding-left;
    margin-right: $padding-right;
    margin-left: $padding-left;
    border-width: $border-width;
    border-style: $border-style;
    border-color: $border-color;
    background-color: $background-color;
}

/* Container */
