

QPushButton{
    background-color: white;
    border: none;
    color: white;
    padding: 0.7rem 1.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: Verdana;
    margin: 4px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    min-width: 100px;
    min-height: 30px;
    line-height: 1.5;
}

/* QPushButton:pressed {
    border: 2px solid grey;
}

QPushButton:hover {
    background-color: rgba(48, 128, 171, 0.845);
} */

