/* Generic Button Configurations */

* {
    border-radius: 5px;
}

/* Generic Button Configurations */

/* Button Basic */

QPushButton{
    background-color: #007bff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana;
    margin: 4px 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    max-width: 200px;
    max-height: 50px;
}

/* QPushButton:pressed {
    border: 2px solid grey;
}

QPushButton:hover {
    background-color: rgba(48, 128, 171, 0.845);
} */

/* Button Basic */
