

Card{
    min-width: 0;
    background-color: #343a40;
    background-clip: border-box;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 0;
}

CardHeader{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #343a40;
    border: 0;
    border-bottom: 1px solid white;
}

CardHeader > QLabel {
    color: white;
    border: 0;
}

CardBody{
    min-height: 50px;
    border: 0px;
}

CardFooter{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #343a40;
    border-top: 1px solid white;
}

CardFooter > QLabel {
    color: white;
}

